* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.qalaktika {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./galaxy_andromeda_2152.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.sun {
  position: relative;
}

.sunn img {
  animation: sun 18s infinite linear;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.merkuru {
  animation: merkur 20s infinite linear;
  position: absolute;
  top: 90px;
  left: 700px;
  bottom: 60px;
  right: 700px;
}

.merkuru img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.mars {
  animation: merkur 20s infinite linear;
  position: absolute;
  top: 30px;
  left: 760px;
  bottom: 120px;
  right: 640px;
}

.mars img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.saturun {
  animation: merkur 15s infinite linear;
  position: absolute;
  top: 200px;
  left: 750px;
  bottom: 200px;
  right: 720px;
}

.saturun img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@keyframes merkur {
  0% {
    transform: translateX(360px);
    transform: rotateZ(0deg);
  }

  100% {
    transform: translateX(360px);
    transform: rotateZ(360deg);
  }
}

@keyframes saturun {
  0% {
    transform: translateX(360px);
    transform: rotateY(0deg);
  }

  100% {
    transform: translateX(360px);
    transform: rotateY(360deg);
  }
}

@keyframes sun {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
